<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="col-md-12 jumbotron box1">
       

            <div class="form_div">
                <h3>
                    <span class="glyphicon glyphicon-lock">Change Password</span>  
                </h3>
                <strong><hr/></strong>
                <div class="col-md-1">
                </div>
    
                <div class="col-md-10" style="text-align: left">
                    <label>Current Password</label>
                    <input required="required" type="text" class="form-control" placeholder="Password">
                    <br>
                    <hr/>
                    <label>New Password</label>
                    <input required="required" type="password" class="form-control" placeholder="Password">
                    <br>
                    <hr/>
                    <label>Confirm New Password</label>
                    <input required="required" type="password" class="form-control" placeholder="Password">
                    <br>
                    <button class="btn btn-success form-control">Update Password</button>
                </div>
            </div>
    </div>
</body>
</html>