<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="container">

        <div class="center_div col-md-12">
        </div>


        <div class="form_div">
            <h1>
                Welcome User
            </h1>
            <strong><hr/></strong>
            <div class="col-md-1">
            </div>

            <div class="col-md-10" style="text-align: left">
                <label>Username</label>
                <input required="required" type="text" class="form-control" placeholder="abc@gmail.com">
                <br>
                <label>Password</label>
                <input required="required" type="password" class="form-control" placeholder="Password">
                <br>
                <button class="btn btn-success form-control">Log In</button>


                <h5>
                    <a href="" style="color:white">Forgot Your Password ?</a>
                </h5>
                <h5 style="position: absolute;left: 280px;top: 190px">Don't have an account?
                    <a href="" style="color:white">Open an account</a>
                </h5>
            </div>


            <div class="col-md-1">
            </div>

        </div>
    </div>
</body>
</html>