<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="background_class">

    </div>
        <div class="col-md-12 forgot_class">
            <h2 class="header1">
                Forgot Password
            </h2>
            <hr/>
                <h5>
                    Please Enter Your Email Address And Well Send You Instruction On How to Reset Your Password
                </h5>
                <br>
            <label for="">Email</label>
            <input type="email" placeholder="Email.." required="required" class="form-control">
            <br><br>
            <Button class="btn1">Submit</Button>
            <button class="btn2">Cancel</button>
        </div>
</body>
</html>