<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
        <div class="background_class"></div>
        <div class="container_class">
            <h2>
                Register
            </h2>
            <hr/>
    
            <div class="col-md-1"></div>
    
            <div class="col-md-10 form_class">
                <table border=0 style="width: 100%" class="form_group">
    
                    <tr>
                        <td class="td_class">
                            <label for="">First Name</label>
                            <input type="text" class="form-control">
                        </td>
                        <td style="width: 10%"></td>
                        <td class="td_class">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control">
                        </td>
                    </tr>
    
                    <br>
                    <tr>
                        <td class="td_class">
                            <label for="">Email Id</label>
                            <input type="email" class="form-control">
                        </td>
                        <td style="width: 10%"></td>
                        <td class="td_class">
                            <label for="">Phone no.</label>
                            <input type="text" class="form-control">
                        </td>
                    </tr>
    
                    <br>
    
                    <tr>
                        <td class="td_class">
                            <label for="">State</label>
                            <input type="text" class="form-control">
                        </td>
                        <td style="width: 10%"></td>
                        <td class="td_class">
                            <label for="">City</label>
                            <input type="text" class="form-control">
                        </td>
                    </tr>
    
                    <br>
                    <tr>
                        <td class="td_class">
                            <label for="">Address line 1</label>
                            <input type="text" class="form-control">
                        </td>
                        <td style="width: 10%"></td>
                        <td class="td_class">
                            <label for="">Address line 2</label>
                            <input type="text" class="form-control">
                        </td>
                    </tr>
    
                    <br>
                    <tr>
                        <td class="td_class">
                            <label for="">Password</label>
                            <input type="text" class="form-control">
                        </td>
                        <td style="width: 10%"></td>
                        <td class="td_class">
                            <label for="">Confirm Password</label>
                            <input type="text" class="form-control">
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td class="td_class">
                            <label for="">Date Of Birth</label>
                             <input type="date" name="bday" class="form-control">
                        </td>
                        <td style="width: 10%"></td>
                        <td class="td_class">
                            <label for="">Nationality</label>
                            <input type="text" class="form-control" >
                        </td>
                    </tr>
    
                    <br>
                    <tr>
                        <td>
                            <label for="">Gender</label>
                            <input type="radio" name="gender" value="male" checked > Male<br>
                            <input type="radio" name="gender" value="female" class="radio2"> Female<br>
                            <input type="radio" name="gender" value="other" class="radio3"> Other  
                        </td>
                    </tr>
    
                    <tr>
                        <td colspan=3>
                            <button class="btn btn-success glyphicon glyphicon-send" style="width: 100px"> Submitt</button>
                            <button class="btn btn-danger  glyphicon glyphicon-trash" style="margin-left:20px ;width:100px"> Clear</button>
    
                        </td>
                    </tr>
                    <br>
    
                </table>
    
            </div>
    
            <div class="col-md-1"></div>
    
        </div>
    
</body>
</html>