.background_class {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('../../assets/Employee_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    height: 100%
}

.container_class {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    text-align: center;
    border: solid;
    width: 800px;
    height: 650px;
    border-radius: 10px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-color: white;
    font-weight: bold;
}

.form_class {
    text-align: left;
}

.td_class {
    width: 45%;
    height: 100%
}
.radio2
{
    
}